<tr align=center><hello name="{{ name }}"></hello>
<tr align=center>
<p>
  Meta-Matrix (MM), an abundant exchange where everyone shares & recieves the knowledge & wisdom that they are after.
<p>
This site promotes the exchange of reading materials ONLY related to meta-physics (in the form of PDF files). 
<p>
We believe that information, knowledge & wisdom should be made free & accessible. Whether you are able to absorb, understand & apply that information, knowledge &
wisdom is up to your universal affinity & ability to connect with it.
</p>